# You can disable any bow and arrow by writing lines like these inside throwing.conf
#
# DISABLE_WOODEN_BOW = true
#
#
# DISABLE_LONGBOW = true
#
#
# DISABLE_COMPOSITE_BOW = true
#
#
# DISABLE_STEEL_BOW = true
#
#
# DISABLE_ROYAL_BOW = true
#
#
# DISABLE_CROSSBOW = true
#
#
# DISABLE_BUILD_ARROW = true
#
#
# DISABLE_DIG_ARROW = true
#
#
# DISABLE_DIAMOND_ARROW = true
#
#
# DISABLE_OBSIDIAN_ARROW = true
#
#
# DISABLE_SHELL_ARROW = true
#
#
# DISABLE_STEEL_ARROW = true
#
#
# DISABLE_STONE_ARROW = true
#
#
# DISABLE_TELEPORT_ARROW = true
#
#
# DISABLE_FIRE_ARROW = true
#
#
# DISABLE_TNT_ARROW = true
#
#
# DISABLE_TORCH_ARROW = true
#